body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: black;
}

.container {
    width: 350px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
    background-color: aquamarine;
    box-shadow: 4px 4px 200px aqua inset,2px 2px 30px rgb(24, 20, 20);
}

fieldset {
    display: block;
    margin: auto;
    border: none;
}

.inp {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: block;
    margin-bottom: 40px;
    width: 310px;
    font-size: large;
}

input:focus,
textarea:focus,
select:focus {
    outline: none
}

div button {
    background: transparent;
    font-size: medium;
    display: block;
    margin: 25px auto;
    width: 270px;
    border: 2ps solid black;
    border-radius: 4px;
    padding: 6px;
    color: rgb(0, 0, 0);
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
}

h3 {
    text-align: center;
}

.inpCol {
    color: rgb(0, 0, 0);
}

input[type="file"] {
    border: none;
    cursor: pointer;
    margin-top: 7px;
}

.txtarea {
    color: rgb(0, 0, 0);
    background: transparent;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}