:root {
    --theme-color: ROYALBLUE;
    --theme-font: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
    font-family: var(--theme-font);
}

body {
    background-image: url('bg-image.jpg');
    background-size: 100% 110%;
    background-attachment: fixed;
}

.container {
    padding: 20px;
    padding-left: 5%;
}

ul {
    position: fixed;
    top: 30px;
    margin-left: 40%;
    width: 100%;
    padding-top: 10px;
    margin-top: 0;
    padding-left: 0px;
    list-style-type: none;
}

li {
    padding-right: 100px;
    display: inline-block;
}

li a {
    color: black;
    font-size: large;
    text-decoration: none;
}

li a:hover {
    color: var(--theme-color);
}

.logo {
    width: 50px;
    height: 50px;
}

.mainbox {
    margin: 7% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 60px;
    color: var(--theme-color);
}

h1 span {
    color: var(--theme-color);
}

.content {
    padding-right: 10%;
}

.content p {
    line-height: 1.5;
    word-spacing: 1.5;
    font-weight: 600;
    font-size: larger;
}

.credential {
    width: 90%;
    background-color: black;
    padding: 20px;
    opacity: 0.8;
    border-radius: 3%;
    color: black;
}

input {
    background-color: inherit;
    width: 100%;
    height: 30px;
    color: whitesmoke;
    font-size: large;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px red solid;
}

.button_like {
    margin: 5% 5% 10% 5%;
    padding: 1% 0%;
    font-size: x-large;
    font-weight: 800;
    width: 90%;
    border-radius: 20px;
    text-align: center;
}

.signhead {
    background-color: whitesmoke;
    color: var(--theme-color);
    height: 30px;
}

button {
    background-color: var(--theme-color);
    opacity: 1;
    color: black;
    height: 40px;
}

.text {
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
}

.text a {
    text-decoration: none;
    color: rgb(118, 118, 138);
}

.text a:hover {
    color: yellowgreen;
}
